.container{
    height: 4em; 
    text-align: center;

}

.btn-container button{
    justify-content:center ;
    margin-left: 5px;
    margin-top: 2px;
    background-color:#FFFFFF;
    border: 1px solid black;
    border-radius:5px;
    padding: 10px;

}
#marksTable th {
    padding-top: 22px;
    padding-left:22px;
    padding-bottom: 22px;
    padding-right: 22px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  
  .container h2 {
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: #a8488b;
    color: white;
  }

  #marksTable td {
    padding-top: 1px;
    padding-bottom: 2px;
    text-align: center;
    background-color: rgb(197, 188, 188);
    color: black;
  }